<table ng-if="$ctrl.horizontalHeader!='0'" class="table compare-table">
  <thead>
    <tr>
      <th class="compare-table-title-col"></th>
      <th class="bg-{{$ctrl.refColor}}">Gr réf.</th>
      <th class="bg-yellow">Gr comp</th>
      <th class="bg-grey">Écart</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in $ctrl.data" ng-class="{active: row.active}">
      <td ng-repeat="cell in row track by $index">
        <strong ng-if="$index==0">{{cell}}</strong>
        <span ng-if="$index!=0">{{cell}}</span>
      </td>
    </tr>
  </tbody>
</table>

<table ng-if="$ctrl.horizontalHeader=='0'" class="table compare-table compare-table-vertical-header">
  <thead>
      <tr>
        <th></th>
        <th ng-repeat="hc in $ctrl.header">{{hc}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="bg-{{$ctrl.refColor}}"><strong>Gr réf.</strong></td>
        <td ng-repeat="cell1 in $ctrl.data['Gr réf.'] track by $index"> {{cell1}}</td>
      </tr>
      <tr>
        <td class="bg-yellow"><strong>Gr comp.</strong></td>
        <td ng-repeat="cell2 in $ctrl.data['Gr comp.'] track by $index"> {{cell2}}</td>
      </tr>
    </tbody>
</table>